:root {
    --blue-color: #646cff;
    --blue-border: 3px solid var(--blue-color);
}

.preview {
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--blue-border);
    border-radius: 18px;
}

.preview__button {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--blue-border);
    border-radius: 50%;
    background: none;
    color: var(--blue-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.preview__button:hover {
    transform: scale(1.1);
}

.preview__icon {
    width: 32px;
    height: 32px;
    margin-left: 2px;
}