:root {
  --blue-color: #646cff;
  --grey-color: #848484;
  --light-grey-color: #c4c4c4;
  --white-color: #ffffff;
  background-color: var(--white-color);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}